body {
    margin: 0;
    background:#eee;
}

* {
    font-family: 'Lato', sans-serif !important;
}

*:focus {
    outline: none;
}

.uhud {
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 100%;
    background: #444444;
    box-shadow: 0 0 5px black;
    min-width: 800px;
}

.uhud label {
    color: white;
    margin-top: 10px;
    margin-right: 40px;
    font-size: 15px;
    ;
    float: right;
    display: inline-block
}

#lobtn {
    margin-top: 40px;
    margin-right: -70px;
    float: right;
}

#post {
    margin: 0 auto;
    margin-top: 30px;
    background: #f2f2f2;
    max-width: 600px;
    padding: 30px;
    border-radius: 5px;
}

#post hr {
    height: 5px;
    border-radius: 5px;
    background: #ddd;
    border: none;
}

#post .posthead {
    color: #2abada;
    font-size: 20px;
    margin-bottom: 10px;
}

#post .postcontent {
    margin-bottom: 10px;
}

#post .likes {
    color: #2abada;
}

.postform {
    margin: 0 auto;
    margin-top: 50px;
    width: 625px;
}

#privacy {
    display: block;
    height: 30px;
}

#caption {
    font-size: 15px;
    border-radius: 5px;
    resize: none;
    margin: 0 auto;
    margin-bottom: 10px;
    height:100px;
    min-width:625px;
    max-width: 625px;
    border: 5px solid #999;
    
}

#submitPost {
    margin-top:-25px;
    width: 100px;
    height: 30px;
    float: right;
}

.logo {
    margin-left: 20px;
}

ul {
    display:inline-block;
    width: 100%;
    list-style-type: none;
    margin-left:300px;
    margin-top:-80px;
}
#search input[type="text"] {
    margin-top: 24px;
    margin-right:100px;
    margin-left:100px;
    border: 1px solid #d1d1d1;
    font: bold 12px Arial, Helvetica, Sans-serif;
    color: #bebebe;
    width: 300px;
    padding: 5px 10px 5px 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}

#search input[type="text"]:focus {
    width: 350px;
}

li {
    float: left;
    list-style-type: none;
}

li a {
    display: block;
    color: white;
    padding: 25px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

div.img {
    margin-top: 50px;
    border-radius: 0px 0px 25px 25px;
    border: 2px solid gray;
    float: left;
    width: 180px;
}

.notify {
    position: absolute;
    width: 17px;
    height: 17px;
    text-align: center;
    margin-top: -19px;
    margin-left:3px;
    font-size:12px;
}

.pink {
    margin-top: 1px;
    background-color: #f6788c;
    border-radius: 50% 50% 50% 50%;
    display: inline-block;
    background: -moz-linear-gradient(center top, #f6788c 0%, #d35367 100%) repeat scroll 0 0 transparent;
    background: -webkit-linear-gradient(center top, #f6788c 0%, #d35367 100%) repeat scroll 0 0 transparent;
    background: -o-linear-gradient(center top, #f6788c 0%, #d35367 100%) repeat scroll 0 0 transparent;
    background: linear-gradient(center top, #f6788c 0%, #d35367 100%) repeat scroll 0 0 transparent;
    border: 1px solid #9f2438;
    color: #FFF;
    text-shadow: 0 1px 1px #666;
}

div.comment {
    position: absolute;
    top: 200px;
    left: 200px;
    font-size: 15px;
    max-width: 300px;
    margin: 5px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
}

textarea {
    padding-top: 500px;
    height: 30px;
    border-radius: 5px;
    max-width: 300px;
    resize: none;
    padding: 5px;
    padding-right: 60px;
}

.button {
    background-color: gray;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
}
.notify-btn{
    min-width:140px;
    margin-right:-10px;
    display: block;
    color: white;
    text-decoration: none;
}
.navbar-p{
    margin-left:120px;
}