.profile-head{
	width:50%;
	margin: 0 auto;
	margin-top:30px;
	margin-bottom:-20px;
}
#pp tr{
    max-width:100px;
    float:right;
    margin-left:200px;
    margin-top:10px;
}
.name{
    font-size:30px;
    float:left;
    margin-right:20px;
    color:#2abada;
    display:inline;

}
.nickname-p{
    font-size:18px;
    padding-top:8px;
    margin-left:5px;
}
.nickname{
    font-size:12px;
    margin-top:15px;
    display:inline;
    margin-left:5px;
}
.nickname a{
	text-decoration:none;
}

.profile-picture img{
	background:#fff;
	float:left;
    width:120px;
	height:120px;
    border-radius: 100px;
    display:block;
}
#pp-upload{
	margin-top:10px;
	margin-left:;
}
#uploadSection{
    display: none;
}
#bio{
	margin-top:-60px;
	margin-bottom:80px;
	width:400px;
	background:rgba(255,255,255,0.5);
	border-radius:5px;
	border: 2px solid #ddd;
	padding:10px;
	max-height:100px;
}
#label{
	font-size:16px;
	margin-top:-70px;
	margin-bottom:50px;
}